body{
    margin: 0;
    padding: 0; 
    overflow-x: hidden; 
 
}

a {
    text-decoration: none; 
    text-decoration-style: none; 
    color: #545454; 
}

.buttonH{
    color: white; 
}

.buttonH:hover{
    color: white;
}

a:hover{
    color: #CE3333;
}

.landing{
    background: url(images/170657.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px; 
    padding: 0px;
    margin: 0px; 
    font-family: 'Roboto', sans-serif;
}

h1{
    text-align: center; 
    color: white;
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 0;
    line-height: 25px;
    margin-top: 0px;
    padding-top: 20px;
}

.titleP{
    padding-top: 10px;
    font-size: 13px;
    font-weight: 100;
    
}

.author{
    font-family: 'Pacifico', cursive;
}

h2{
    line-height: 0px;
    font-size: 50px;
    margin-bottom: 30px;
}

p{
    font-family: 'Raleway', sans-serif;
    font-weight: 100; 
    font-size: 15px;
}

.lefttext{
    text-align: center; 
    color: white;
    max-width: 300px;
    margin: 0 auto; 
    padding-top: 250px;
    
}

.button{
    max-width: 150px;
    background-color: #CE3333;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    line-height: 35px;
    border-radius: 20px;
    font-size: 13px;
    margin: 0 auto; 
}

.socialImages{
    display: grid;
    float: right;
    padding-top: 50px;
}

.social{
    max-width: 30px; 
    
}

.arrow{
    text-align: center;
    padding-top: 200px;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}


.info{
    height: 2200px; 
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.resources{
    display: grid; 
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto; 
    padding-top: 50px; 
    grid-gap: 50px;
    margin-left: 20px;
    margin-right: 20px;

}
    
.dot {
    margin: 0 auto; 
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50%;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    box-shadow: 2px 2px 50px 0px #CBCBCB; 

} 

.Resource{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #545454;
    
}

    
.resourceParagraph{
    text-align: center; 
    color: #545454;
        
}



/* Bigger Displays Media Query */




@media only screen and (min-width: 1080px){
    .lefttext{
        margin-left: 100px;
        text-align: left; 
        max-width: 100%;
    }
    
    p{
        max-width: 350px;
    }
    .button{
        margin-left: 0px;
    }
    
    .arrow{
        display: flex; 
        justify-content: center;
        align-content: center;
        padding-top: 380px;
    }
    
    .info{
        height: 1200px; 
    }
    
    .resources{
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        max-width: 1200px;
        margin: 0 auto; 
        padding-top: 50px; 
        grid-gap: 50px;

        
    }
    
    .dot {
        margin: 0 auto; 
        height: 100px;
        width: 100px;
        background-color: white;
        border-radius: 50%;
        -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
        -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
        box-shadow: 2px 2px 50px 0px #CBCBCB; 

    } 
    
    .firstResource{
        text-align: center; 
        color: #545454;
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
    }
    
    .r1{
        width: 100px;
    }
   

}
